/* full website common css */

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #f9f4ef !important;
}

/* --------header css here  ------*/

header h1 {
  color: #020826;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 46px;
  color: rgb(19, 71, 150);
}

/* --------search field css here  ------*/

.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  font-size: 20px;
  background: #f9f4ef !important;
}

.search-field:hover {
  outline: none;
  border: none;
}

/*------ search input box css here  --------*/

.search-box {
  border: 1px solid rgb(19, 113, 150);
  width: 33%;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 50px;
}

/*-------- search button css here----- */

#search-btn {
  font-size: 19px;
  border: none;
  float: right;
  background-color: rgb(19, 71, 150);
  outline: none;
}

.btn-primary {
  font-size: 19px;
  border: none;
  background-color: rgb(19, 71, 150) !important;
  outline: none !important;
}

.btn-danger {
  background-color: rgb(255, 255, 255) !important;
  padding: 7px 20px !important;
  font-weight: 600 !important;
  color: rgb(0, 0, 0) !important;
  outline: none !important;
  border: 1px solid #222 !important;
}

.btn-success {
  background-color: black !important;
  padding: 7px 20px !important;
  font-weight: 600 !important;
  outline: none !important;
  border: 1px solid #222 !important;
}

.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}

/*---- product showing place css here  --------*/

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
}

.single-product {
  padding: 22px 10px;
  transition: 0.6s;
  border-radius: 10px;
  box-shadow: 0px 0px 6px -1px grey;
}

.single-product:hover {
  background-color: rgba(19, 71, 150, 0.753);
  color: #ffff;
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid rgb(0, 89, 255);
}

/* product title hight setting  */

h3#product-title {
  height: 60px;
}

.product-image {
  width: 150px;
  height: 150px;
}

.cart {
  width: 350px;
  background-color: rgba(19, 71, 150, 0.753);
  color: #ffff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 30px;
}

.cart-main {
  padding-right: 30px;
}

/* cart position fixed  */

div#my-cart {
  position: absolute;
}

/* reating area css here  */

p#show-rating {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
}

/* single product showing place css  */

div#single-product {
  width: 33%;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 0px auto 50px;
  box-shadow: 0px 0px 9px -5px grey;
  display: none;
}

#single-product-image {
  width: 100%;
  height: 320px;
}

/* single cart details footer area css  */

h3#description-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}